#root {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #f1f1f1;
}

html {
    background-color: #f1f1f1;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}